* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* Does NOT work on Safari */
  /* scroll-behavior: smooth; */
}

body {
  position: relative;
  background-color: #141c1d;
  color: #fff;
  /* font-size: 2.2rem; */
  font-family: "Poppins", sans-serif;
}

/* --------NAVBAR------ */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3vw;
  background: linear-gradient(180deg, #141c1d 37.86%, rgba(0, 0, 0, 0) 100%);
  z-index: 99;
}

.navbar:nth-last-child() {
  background: linear-gradient(0deg, #141c1d 37.86%, rgba(0, 0, 0, 0) 100%);
}

.main-navbar {
  margin-top: 2vw;
  margin-right: 2vw;
  gap: 2vw;
  display: flex;
  gap: 40px;
}

.main-navbar a:link,
.main-navbar a :visited {
  transition: all 0.3s ease-in-out;
}

.main-navbar a:hover,
.main-navbar a:active {
  transform: scale(1.1);
}

.nav_btn_img {
  height: 4rem;
  width: auto;
}

.nav_btn_img_middle {
  transform: scale(1.2);
}

.solutions-logo {
  margin-top: 2vw;
  margin-left: 2vw;
  height: 2.5vw;
}

.main-body {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 30px;
  justify-items: center;
  margin-top: 5vw;
}

.hamburger-button {
  display: none;
  position: relative;
  height: 0.5rem;
  width: 4rem;
  background-color: #65cfb4;
  align-self: center;
  margin-right: 10px;
  border-radius: 100px;
}

.hamburger-button::before {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 4rem;
  background-color: #65cfb4;
  top: -10px;
  left: 0px;
}

.hamburger-button::after {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 4rem;
  background-color: #65cfb4;
  top: 10px;
  left: 0px;
}

.sidemenu {
  display: none;
  position: absolute;
  top: 3.5rem;
  right: 0rem;
  height: max-content;
  width: max-content;
}

.menu {
  width: 100%;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-us_content {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}

.ham {
  background: linear-gradient(#141c1d83 37.86%, rgba(0, 0, 0, 0) 100%);
}

@media (max-width: 1000px) {
  .hamburger-button {
    display: block;
  }
  .main-navbar {
    display: none;
  }
}

/* navabar complete */

.header {
  /* height: max(100vh, 90rem); */
  padding-top: 3rem;
}

.container {
  margin: 0 3vw 0;
  padding: 0 1.2rem 0;
  background-color: rgba(31, 43, 42, 0.51);
  height: 100%;
}

/* ---------SCHEDULE TEXT-------- */

.schedule-text {
  padding-top: 15rem;
  text-align: center;
}

.schedule-text img {
  width: 30rem;
}

/* -------SCHEDULE SECTION------- */

.schedule_date {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
  gap: 2rem;
  border-bottom: 4px solid #407a6c;
  border-radius: 2px;
  padding-bottom: 5rem;
}

.dates_time {
  width: 14rem;
  height: 7rem;
  background-color: #2f545b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  border-radius: 4px;
}

.dates_time_anchor {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.dates_time_anchor:hover,
.dates_time_anchor:active {
  background-color: #65cfb5;
  color: #28454b;
  transform: scale(1.1);
}

.dates {
  font-size: 2.5rem;
  font-weight: 600;
}

.time {
  font-size: 2rem;
  font-weight: 500;
}

.events_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 10rem;
  gap: 2rem;
  padding-bottom: 5rem;
}

.event_border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 10rem;
  background: linear-gradient(45deg, #16b299 0%, #378aa3 100%);
  border-radius: 4px;
}

.event {
  width: 12rem;
  height: 9rem;
  background: linear-gradient(45deg, #17272f 0%, #20363b 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  border-radius: 3px;
}

.event_name {
  font-size: 2rem;
  font-weight: 500;
}

.event_time {
  font-size: 1.5rem;
  font-weight: 400;
}

/* ----------FOOTER------------ */

.container {
  margin: 0 3vw 0;
  padding: 0 1.2rem 0;
  background-color: rgba(31, 43, 42, 0.51);
  height: 100%;
}

.container-footer {
  background-image: url("./images/footer-background.png");
  background-size: 100% 100%;
  padding-bottom: 4rem;
}

.footer {
  padding-top: 20rem;
  padding-bottom: 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.footer-ele {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer p {
  font-size: 2rem;
}

.footer a {
  color: #66d6b4;
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
}

.follow-us-on-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.follow-us-on-items img {
  height: 4rem;
}

/* ---------- media quaries--------- */

@media (max-width: 1000px) {
  .coading_events_grid {
    grid-template-columns: 1fr 1fr;
    width: 600px;
  }
  .coading_event {
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 700px) {
  .schedule-text {
    padding-top: 10rem;
    text-align: center;
  }
  .schedule-text img {
    width: 20rem;
  }
  .dates_time {
    flex-shrink: 0;
  }
  .schedule_date {
    height: 10rem;
    align-items: center;
    justify-content: unset;
    overflow-x: scroll;
    border: none;
    padding-bottom: 2rem;
  }
  .schedule_date::-webkit-scrollbar {
    height: 2px;
  }
  .schedule_date::-webkit-scrollbar-track {
    background-color: #2f4b4a;
  }
  .schedule_date::-webkit-scrollbar-thumb {
    background-color: rgba(101, 207, 181, 0.516);
  }
  .dates_time {
    width: 13rem;
    height: 7rem;
    gap: 0.1rem;
    border-radius: 4px;
  }
  .dates {
    font-size: 2rem;
    font-weight: 550;
  }
  .time {
    font-size: 1.5rem;
    font-weight: 450;
  }
  .events_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 7rem;
    gap: 2rem;
    padding-bottom: 5rem;
  }
  .footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 3rem;
  }
  .get-to-know-us {
    grid-column: 1/3;
  }
  .site-map {
    grid-column: 3/5;
  }
  .follow-us-on {
    text-align: center;
    grid-column: 1/5;
    width: 100%;
    margin-bottom: 2rem;
  }
  .follow-us-on-items {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .navbar {
    padding-top: 10px;
  }
  .results-text img {
    width: 20rem;
  }
  .other_winner {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .events_grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 7rem;
    gap: 2rem;
    padding-bottom: 5rem;
  }
}

/* -------navbar----- */

/* navbar */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3vw;
  background: linear-gradient(180deg, #141c1d 37.86%, rgba(0, 0, 0, 0) 100%);
  z-index: 99;
}

.navbar:nth-last-child() {
  background: linear-gradient(0deg, #141c1d 37.86%, rgba(0, 0, 0, 0) 100%);
}

.main-navbar {
  margin-top: 2vw;
  margin-right: 2vw;
  gap: 2vw;
  display: flex;
  gap: 40px;
}

.nav_btn_img {
  height: 4rem;
  width: auto;
}

.nav_btn_img_middle {
  transform: scale(1.2);
}

.solutions-logo {
  margin-top: 2vw;
  margin-left: 2vw;
  height: 2.5rem;
}

.main-body {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 30px;
  justify-items: center;
  margin-top: 5vw;
}

.hamburger-button {
  display: none;
  position: relative;
  height: 0.5rem;
  width: 4rem;
  background-color: #65cfb4;
  align-self: center;
  margin-right: 10px;
  border-radius: 100px;
}

.hamburger-button::before {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 4rem;
  background-color: #65cfb4;
  top: -10px;
  left: 0px;
}

.hamburger-button::after {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 4rem;
  background-color: #65cfb4;
  top: 10px;
  left: 0px;
}

.sidemenu {
  display: none;
  position: absolute;
  top: 3.5rem;
  right: 0rem;
  height: max-content;
  width: max-content;
}

.menu {
  width: 100%;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-us_content {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}

.ham {
  background: linear-gradient(#141c1d83 37.86%, rgba(0, 0, 0, 0) 100%);
}

@media (max-width: 1000px) {
  .hamburger-button {
    display: block;
  }
  .main-navbar {
    display: none;
  }
}

/* navabar complete */
