@font-face {
  font-family: "strasu";
  src: url(../../font/strasua-webfont.woff2) format("woff2"),
    url(../../font/strasua-webfont.woff) format("woff");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  /* Does NOT work on Safari */
  /* scroll-behavior: smooth; */
}

body {
  position: relative;
  background-color: #141c1d;
  color: #fff;
  /* font-size: 2.2rem; */
  font-family: "Poppins", sans-serif;
}

.header {
  padding-top: 3rem;
}

.container {
  margin: 0 3vw 0;
  padding: 0 1.2rem 0;
  background-color: rgba(31, 43, 42, 0.51);
  height: 100%;
}

.flex-elements {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon {
  width: 2.5rem;
}

.event-heading {
  font-family: "strasu", "Poppins", sans-serif;
  padding: 10rem;
  margin-bottom: 2rem;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(92.8deg, #65cfb4 7.43%, #5ca8cc 99.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timing-details {
  margin-bottom: 7rem;
  font-size: 2rem;
  gap: 30vw;
  font-weight: 500;
}

.total-prize-details {
  margin-bottom: 8rem;
  font-size: 2.5rem;
}

.individual-prize-details {
  margin-bottom: 6rem;
  font-size: 2rem;
  gap: 10rem;
}

.team-size-details {
  margin-bottom: 6rem;
  font-size: 2rem;
}

.description-box {
  margin: auto;
  background-color: #38655e;
  width: 80rem;
  font-size: 2rem;
}

.description-text-heading {
  padding-top: 2rem;
  padding-bottom: 4rem;
  font-size: 3rem;
  text-align: center;
}

.description-text {
  padding: 0 5rem 5rem;
  font: 3rem;
}

.register {
  display: flex;
  text-align: center;
  width: min-content;
  margin: auto;
  margin-top: 4rem;
  /* padding: 1.5rem 3rem 1.5rem; */
  size: 4rem;
  font-size: 2rem;
  border-radius: 5px;
  color: white;
  background: linear-gradient(
    91.01deg,
    rgba(102, 207, 180, 0.3) 0.87%,
    rgba(95, 177, 199, 0.3) 54.47%
  );
  backdrop-filter: blur(10px);
  text-decoration: none;
  border: 2px solid rgba(31, 43, 42, 0.51);
  transition: all 0.3s ease-in-out;
}

.register:hover,
.register:active {
  border: solid #65cfb5;
  border-width: 2px;
  cursor: pointer;
}

/* ----------FOOTER------------ */

.container {
  margin: 0 3vw 0;
  padding: 0 1.2rem 0;
  background-color: rgba(31, 43, 42, 0.51);
  height: 100%;
}

.container-footer {
  background-image: url("./images/footer-background.png");
  background-size: 100% 100%;
  padding-bottom: 4rem;
}

.footer {
  padding-top: 10rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.footer-ele {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer p {
  font-size: 2rem;
}

.footer a {
  color: #66d6b4;
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
}

.follow-us-on-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.follow-us-on-items img {
  height: 4rem;
}

/* ---------- media quaries--------- */

@media (max-width: 1000px) {
  .flex-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
  }
  .icon {
    width: 2rem;
  }
  .event-heading {
    padding: 7rem;
    margin-bottom: 2rem;
    font-size: 4.5rem;
    font-weight: 700;
    background: linear-gradient(92.8deg, #65cfb4 7.43%, #5ca8cc 99.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .timing-details {
    margin-bottom: 7rem;
    font-size: 1.8rem;
    gap: 30vw;
    font-weight: 500;
  }
  .total-prize-details {
    margin-bottom: 8rem;
    font-size: 2.2rem;
  }
  .individual-prize-details {
    margin-bottom: 5rem;
    font-size: 1.8rem;
    gap: 8rem;
  }
  .team-size-details {
    margin-bottom: 6rem;
    font-size: 2rem;
  }
  .description-text-heading {
    padding-top: 2rem;
    padding-bottom: 4rem;
    font-size: 3rem;
    text-align: center;
  }
  .description-box {
    margin: auto;
    background-color: #38655e;
    width: 80vw;
  }
  .description-text {
    padding: 0 3rem 3rem;
    font-size: 2rem;
  }
  .register {
    display: flex;
    margin: auto;
    margin-top: 3rem;
    /* padding: 1.2rem 2.2rem 1.2rem; */
    size: 3rem;
    font-size: 1.5rem;
    border-radius: 5px;
    color: white;
    background: linear-gradient(
      91.01deg,
      rgba(102, 207, 180, 0.3) 0.87%,
      rgba(95, 177, 199, 0.3) 54.47%
    );
    backdrop-filter: blur(10px);
  }
}

@media (max-width: 600px) {
  .navbar {
    padding-top: 10px;
  }
  .events-text img {
    width: 20rem;
  }
  .flex-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
  }
  .icon {
    width: 2rem;
  }
  .event-heading {
    padding: 5rem;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 650;
    background: linear-gradient(92.8deg, #65cfb4 7.43%, #5ca8cc 99.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .timing-details {
    margin-bottom: 5rem;
    font-size: 1.2rem;
    gap: 20vw;
    font-weight: 500;
  }
  .total-prize-details {
    margin-bottom: 2.5rem;
    font-size: 2rem;
  }
  .individual-prize-details {
    margin-bottom: 6rem;
    font-size: 1.4rem;
    gap: 2rem;
    flex-direction: column;
  }
  .team-size-details {
    margin-bottom: 2rem;
    font-size: 1.6rem;
  }
  .description-box {
    margin: auto;
    background-color: #38655e;
    width: 80vw;
  }
  .description-text-heading {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
  }
  .description-text {
    padding: 0 3rem 3rem;
    font-size: 1.5rem;
  }
  .register {
    display: flex;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem 2rem 1rem;
    size: 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    color: white;
    background: linear-gradient(
      91.01deg,
      rgba(102, 207, 180, 0.302) 0.87%,
      rgba(95, 177, 199, 0.3) 54.47%
    );
    backdrop-filter: blur(10px);
  }
  .footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 3rem;
  }
  .container-footer {
    padding-bottom: 2rem;
  }
  .get-to-know-us {
    grid-column: 1/3;
  }
  .site-map {
    grid-column: 3/5;
  }
  .follow-us-on {
    text-align: center;
    grid-column: 1/5;
    width: 100%;
    margin-bottom: 2rem;
  }
  .follow-us-on-items {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* -------navbar----- */

/* navbar */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3vw;
  background: linear-gradient(180deg, #141c1d 37.86%, rgba(0, 0, 0, 0) 100%);
  z-index: 99;
}

.navbar:nth-last-child() {
  background: linear-gradient(0deg, #141c1d 37.86%, rgba(0, 0, 0, 0) 100%);
}

.main-navbar a:link,
.main-navbar a :visited {
  transition: all 0.3s ease-in-out;
}

.main-navbar a:hover,
.main-navbar a:active {
  scale: 1.1;
}

.main-navbar {
  margin-top: 2vw;
  margin-right: 2vw;
  gap: 2vw;
  display: flex;
  gap: 40px;
}

.nav_btn_img {
  height: 4rem;
  width: auto;
}

.nav_btn_img_middle {
  transform: scale(1.2);
}

.solutions-logo {
  margin-top: 2vw;
  margin-left: 2vw;
  height: 2.5rem;
}

.main-body {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 30px;
  justify-items: center;
  margin-top: 5vw;
}

.hamburger-button {
  display: none;
  position: relative;
  height: 0.5rem;
  width: 4rem;
  background-color: #65cfb4;
  align-self: center;
  margin-right: 10px;
  border-radius: 100px;
}

.hamburger-button::before {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 4rem;
  background-color: #65cfb4;
  top: -10px;
  left: 0px;
}

.hamburger-button::after {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 4rem;
  background-color: #65cfb4;
  top: 10px;
  left: 0px;
}

.sidemenu {
  display: none;
  position: absolute;
  top: 3.5rem;
  right: 0rem;
  height: max-content;
  width: max-content;
}

.menu {
  width: 100%;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-us_content {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}

.ham {
  background: linear-gradient(#141c1d83 37.86%, rgba(0, 0, 0, 0) 100%);
}

@media (max-width: 1000px) {
  .hamburger-button {
    display: block;
  }
  .main-navbar {
    display: none;
  }
}

/* navabar complete */

#register-button-anchor,
.register-button-anchor:visited {
  color: white;
  text-decoration: none;
  padding: 1.5rem 3rem 1.5rem;
  width: max-content;
}

@media (max-width: 700px) {
  .footer {
    padding-bottom: 0rem;
  }
  .register {
    width: 200px;
    padding: unset;
  }
}

/* --------end--------- */

::-webkit-scrollbar {
  height: 2px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #2f4b4a;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(42, 159, 130, 0.516);
}

/* mail link styles */
.mail_link:link,
.mail_link:visited {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.877);
  border-radius: 100px;
  padding: 0px 10px;
  color: #2f4b4a;
}

.mail_link:active,
.mail_link:hover {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px rgba(58, 168, 140, 0.516);
  border-radius: 100px;
  padding: 0px 10px;
}
